body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 1rem;
}

.keys-container {
    min-height: 100vh;
    background-image: linear-gradient(rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.key {
    border: .4rem solid #333;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s ease;
    width: 7.4rem;
    text-align: center;
    color: white;
    background: rgba(51, 51, 51, 0.6);
    text-shadow: 0 0 0.5rem #333;
}

.key:hover{
    cursor: pointer;
    border-color: rgb(52, 221, 9);
    box-shadow: 0 0 1rem rgb(52, 221, 9);
}

.playing {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 1rem yellow;
 
}

.key kbd {
    display: block;
    font-size: 4rem;
    background-color: rgba(54, 54, 54, 0.5);
}

.key .sound {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(52, 221, 9);
}
